

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url("//fonts.googleapis.com/css?family=Droid+Sans:400,700");

h1.logo-black {
  color: black;
}

.logo-highlight {
  color: #f7931e;
}

.from-blog {
  background-color: #eeeeee;
}


.from-blog h2 {
	color: #f7931e;
	text-overflow: ellipsis;
	overflow: hidden;
}








