<div class="jumbotron">
    <div class="container">
        <img src="/images/logo-black-notext.png" style="float:left"/>
        <div>
            <h1 class="logo-black">Brightstar<span class="logo-highlight">DB</span></h1>
            
            <p>A native <strong>RDF</strong> database for the <strong>.NET platform</strong>.</p>
            <div class="btn-group btn-group-justified hidden-xs">
                <a class="btn btn-warning btn-lg" role="button" href="https://github.com/BrightstarDB/BrightstarDB" title="Our source code is all on GitHub..."><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Source Code</a>
               <a class="btn btn-warning btn-lg" role="button" href="http://brightstardb.codeplex.com/" title="...or you can grab pre-build Windows binaries from our CodePlex account..."><span class="glyphicon  glyphicon-download-alt"></span>&nbsp;Binaries</a>
               <a class="btn btn-warning btn-lg" role="button" href="http://brightstardb.readthedocs.org/"
                  title="...or head over to ReadTheDocs to RTFM!"><span class="glyphicon glyphicon-book"></span>&nbsp;Documentation</a>
            </div>
            <div class="btn-group btn-group-vertical hidden-md hidden-sm hidden-lg">
                <a class="btn btn-warning btn-lg" role="button" href="https://github.com/BrightstarDB/BrightstarDB" title="Our source code is all on GitHub..."><span class="glyphicon glyphicon-bookmark"></span>&nbsp;Source Code</a>
               <a class="btn btn-warning btn-lg" role="button" href="http://brightstardb.codeplex.com/" title="...or you can grab pre-build Windows binaries from our CodePlex account..."><span class="glyphicon  glyphicon-download-alt"></span>&nbsp;Binaries</a>
               <a class="btn btn-warning btn-lg" role="button" href="http://brightstardb.readthedocs.org/"
                  title="...or head over to ReadTheDocs to RTFM!"><span class="glyphicon glyphicon-book"></span>&nbsp;Documentation</a>
            </div>
        </div>
    </div>
</div>